/d05/__pycache__
/ex00/__pycache__
/ex01/__pycache__
/ex02/__pycache__
/ex03/__pycache__
/ex04/__pycache__
/ex05/__pycache__
/ex06/__pycache__
/ex07/__pycache__
/ex08/__pycache__
/ex09/__pycache__
/ex10/__pycache__

/ex00/migrations
/ex01/migrations
/ex02/migrations
/ex03/migrations
/ex04/migrations
/ex05/migrations
/ex06/migrations
/ex07/migrations
/ex08/migrations
/ex09/migrations
/ex10/migrations
