{% extends "ex06/base.html" %}

{% block title %}Movie table{% endblock %}

{% block style %}
    <style>
        h2 {
            text-align: center;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            text-align: center;
            padding: 4px;
        }
        th {
            background: #fc0;
            height: 40px;
            vertical-align: bottom;
            padding: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>ex06_movies table content</h2>
    <table>
        <tr>
            <th>№</th>
            <th>Title</th>
            <th>Opening crawl</th>
            <th>Director</th>
            <th>Producer</th>
            <th>Release Date</th>
            <th>Record created</th>
            <th>Record updated</th>
        </tr>
        {% for row in records %}
        <tr>
            {% for col in row %}
            <td>
                {{col}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
